*{ list-style: none;}
body{ padding: 0; margin: 0; border: none; list-style: none;}
.page-content{ background: #f2f4f5;}
.view{ background: #f2f4f5;}
.clear{ clear: both;}
/* index */
.page{ background: #f3f3f3;}
.navbar-inner{ background: #d33a31; color: #fff; padding: 0 17px;}
.left .icon-line{ width: 22px; height: 2px; display: block; background: #fff; margin: 5px 0;}
.right a{ line-height: 0; display: block; float: left;}
.center a{ padding: 0 15px;}
.center a span{ width: 26px; height: 24px; display: block;}
.music{ background: url("../images/Music.png") no-repeat; background-size: 100% 100%;}
.wyy{ background: url("../images/wyy.png") no-repeat; background-size: 100% 100%;}
.mine{ background: url("../images/mine.png") no-repeat; background-size: 100% 100%;}
.music.active{ background: url("../images/musicwhite.png") no-repeat; background-size: 100% 100%;}
.wyy.active{ background: url("../images/wyywhite.png") no-repeat; background-size: 100% 100%;}
.mine.active{ background: url("../images/minewhite.png") no-repeat; background-size: 100% 100%;}
.buttons-row .button{ border: none; height: 44px; line-height: 44px; color: #666;}
.buttons-row .button.active{ background: #fff; border-bottom: 2px solid #d33a31; color: #d33a31;}
.buttons-row .button:first-child{ border-left: none; border-radius: 0;}
.subnavbar{ background: #fff; padding: 0; margin-top: 0;}
.subnavbar:after{ background-color: #fff;}
.swiper-container{ height: 140px;}
.swiper-slide img{ width: 100%; height: 100%;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 5px;}
.swiper-pagination-bullet-active{ background: #d33a31;}
.swiper-pagination-bullet{ width: 7px; height: 7px;}
.buttons-row .button:last-child{ border-radius: 0;}


/* wwy */
.Music-Column{ border-bottom: 1px solid #dadcdd;}
.MusicColumn{ text-align: center; padding: 15px 0;}
.MusicColumn span{ font-size: 12px; color: #333; display: block; text-align: center; padding-top: 7px;}
.ColumnName{ display: block; margin-top: 23px;}
.ColumnName p{ font-size: 14px; color: #333; border-left: 2px solid #d33a31; padding:0 16px 0 8px; background: url("../images/toggleR.png") right no-repeat; margin: 0; display: inline-block;}
.ColumnLi{ text-align: left; margin-top: 15px;}
.ColumnLi span{ font-size: 12px; color: #333; padding-top: 7px; text-align: left; display: block; padding-left: 10px;}
.ColumnLi:nth-child(2n){ text-align: center;}
.ColumnLi:nth-child(3n){ text-align: right;}
.ColumnLi2:nth-child(2n){ text-align: right;}


/* search */
.searchbar{ background: #d33a31;}
.close-popup img{ width: 20px; height: 18px; padding-right: 10px; padding-left: 13px; vertical-align: text-top;}
.searchbar input[type=search]{-webkit-appearance: none; background-image: none; background-color: #d33a31; color: #fff; border: none; padding-left: 2px; margin: 0 5px; border-bottom: 1px solid #edb0ad; border-radius: 0; width: 96%; line-height: 25px;}
.searchbar input[type=search]::-webkit-input-placeholder{ color: #e0756e;}
.searchbar .searchbar-clear{ background-image: none; color: #fff; font-size: 22px; line-height: 27px;}
.content-block{ margin: 44px 0 0 0;}
.searchsinger{ background: #f2f4f5; display: block; text-align: center; height: 44px; line-height: 44px; color: #616262; border-bottom: 1px solid #dadcdd;}
.page>.searchbar{ position: relative;}
.Sleft img{ width: 16px; height: 20px; margin-right: 10px; vertical-align: middle;}
.Sright img{ width: 12px; height: 14px; margin-left: 10px; vertical-align: middle;}
.page>.searchbar~.searchcontent{ padding-top: 0;}
.hottext{ font-size: 12px; color: #7d7e7f; padding: 22px 0 10px 0; margin: 0;}
.hotSearch{ padding: 0 10px; background: #f2f4f5;}
.hotList{ margin: 0; padding: 0;}
.hotList li{ margin: 9px 9px 0 0; font-weight: bold; border-radius: 20px; color: #303131; float: left; border: 1px solid #ced1d1; padding: 7px 10px;}
.history{ padding: 15px 0 0 10px; margin: 0; background: #f2f4f5;}
.history li{ height: 45px; line-height: 45px;}
.HisLeft{ margin-right: 9px; display: inline-block; float: left;}
.HisLeft img{ width: 15px; height: 15px; vertical-align: middle; margin-top: -3px;}
.HisContent{ display: block; padding-left: 2px; border-bottom: 1px solid #dadcdd; margin-left: 25px; font-size: 13px; font-weight: bold;}
.delete{ color: #aaabac; font-size: 14px; float: right; padding-right: 16px;}
.delete img{ width: 11px; height: 11px;}
.searchResult{ margin: 0 10px; width: 95%; background: #f3f3f3; display: none; position: absolute; top: 44px; left: 0;}
.list-block{ margin: 0;}
.list-block .item-inner{ padding-bottom: 0; padding-top: 0; min-height: 48px; line-height: 48px;}
.list-block ul{ background: #f3f3f3;}
.list-block .item-inner:after{ height: 0;}
.list-block .item-content{ border-bottom: 1px solid #dbdbdb;}
.list-block ul:after{ height: 0;}
.content-block{ margin: 0;}
.content-block-inner{ background: #f3f3f3;}

/* 左隐藏框panel*/
.panel-overlay{ background: rgba(0,0,0,0.5);}
.panel-top{ width: 100%;}
.panel-top img{ width: 100%;}
.panel{ background: #f2f4f5; height: 100vh;}
.panelcontent>ul{ background: #fff; margin-bottom: 6px; padding-left: 0; margin-top: 0;}
.panelcontent>ul li{ line-height: 38px; height: 38px; color: #333; padding-left: 40px;}
.panelfoot{ width: 260px; height: 44px; text-align: center; background: #fff; border-top: 1px solid #dadada; position: fixed; bottom: 0; left: 0;}
.panelfoot ul{ margin: 0; padding: 0; display: inline-block;}
.panelfoot ul li{ float: left; line-height: 44px; padding: 0 17px;}
.panelcontent{ width: 100%; height: auto;}
body.with-panel-left-cover .panel.panel-left{ transform: none;}

/* toolbar */
.toolbar{ height: 50px;}
.toolbar-inner{ background: #fff;}
.musicimg{ margin-right: 7px; float: left; margin-top: 6px;}
.toolcontent{ width: 100%;}
.toolcontent .Music span{ line-height: 15px;}
.Music{ margin: 5px 0 0 0; padding: 0; float: left;}
.Music li:first-child{ color: #343434; font-size: 14px;}
.Music li:nth-last-child(1){ color: #828282; font-size: 12px;;}
.MenuList{ float: right; margin-top: 11px;}
.musicPlay{ float: right; margin: 8px 21px 0 0;}

/* 历史歌单pop */
.ClosePop{ width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.ListMusic{ padding: 0; margin-top: 0;}
.ListMusic li{ border-bottom: 1px solid #dbdbdb; height: 45px; line-height: 45px;}
.ListMusic .blank{ width: 15px; background: #f3f3f3; height: 46px; float: left;}
.ListMusic>li>span:nth-child(2){ color: #7a7a7a; font-size: 12px;}
.ListMusic li:first-child{ margin: 0; padding-left: 15px; height: 49px; line-height: 49px; position: absolute; top: 0; left: 0; width: 100%; background: #f3f3f3;}
.ListMusic li:nth-child(2){ padding-top: 50px;}
.hisleft{ float: left; padding-left: 22px; background: url("../images/ListLoop.png") 0 17px no-repeat;}
.hisright{ float: right; margin-right: 30px; color: #333;}
.collect{ padding-left: 23px; background: url("../images/collect.png") no-repeat;}
.collect:after{ content: '|'; color: #dbdbdb; padding: 0 8px 0 12px;}
.Clear{ padding-left: 23px; background: url("../images/clear.png") no-repeat;}
.del{ color: #aaabac; font-size: 14px; float: right; padding-right: 16px;}
.del img{ width: 11px; height: 11px;}

.historydisplay{ width: 100%; height: 100%; background: rgba(0,0,0,0.4); position: absolute; top: 0; left: 0; z-index: 12000; display: none;}
.History{ width: 100%; height: 380px; overflow: hidden; position: absolute; bottom: -400px; left: 0; z-index: 12000;}
.History .content-block{ width: 100%; height: 380px; color: #333; padding: 0; overflow: auto; position: absolute; bottom: 0; left: 0; background: #f3f3f3;}

/* myMusic */
.MusicList{ padding: 0 0  0 15px; margin: 0; background: #f2f4f5; color: #333;}
.MusicList li{ height: 44px; line-height: 44px; padding-left: 36px; background-image: url("../images/musicbg.png"); background-repeat: no-repeat;}
.MusicList li:nth-child(1){ background-position: 0 11px;}
.MusicList li:nth-child(2){ background-position: 0 -33px;}
.MusicList li:nth-child(3){ background-position: 0 -79px;}
.MusicList li:nth-child(4){ background-position: 0 -122px;}
.MusicList li:nth-child(5){ background-position: 0 -170px;}
.MusicList li>span{ display: block; height: 43px;}
.ListContent{ color: #333; border-bottom: 1px solid #dadcdd; display: block;}
.ListContent span{ color: #7a7a7a; font-size: 12px;}
.rotate{ display: inline-block;}
.rotate img{ transition : 0.4s; transform: rotate(0deg);}
.rotate img{ vertical-align: middle; margin-right: 10px;}
.Toggle{ height: 30px; line-height: 30px; background: #e7e9e9; padding: 0 15px;}
.Toggle p{ display: inline-block; margin: 0;}
.Set{ display: inline-block; float: right;}
.Set img{ vertical-align: sub;}
.MusicLIST{ margin: 0; padding: 0 0 0 15px; display: block;}
.MusicLIST li{ height: 60px; line-height: 60px; border-bottom: 1px solid #dadcdd;}
.textspan{ float: left; width: 60%; margin-top: 7px;}
.group{ display: block; width: 100%; line-height: 30px; float: left;}
.count{ display: block; width: 100%; line-height: 15px; float: left; color: #7b7c7d; font-size: 12px;}
.groupimg{ float: left; background: #f2f4f5; line-height: 61px; padding-right: 10px;}
.groupimg img{ vertical-align: middle;}
.point{ display: block; width: 3px ; height: 3px; margin-bottom: 2px; background: #aaabac; border-radius: 50%;}
.grouppoint{ float: right;padding: 24px 15px 21px 15px;}
.setlist{ height: 237px; width: 100%; background: #f3f3f3; position: absolute; bottom: 0; left: 0;}
.popup-set{ background: rgba(0,0,0,.001);}
.popup-set ul{ margin: 0; padding: 0 0 0 15px;}
.setlist li{ height: 45px; line-height: 45px; border-bottom: 1px solid #dbdbdb;}
.setlist li:nth-child(1){ border-bottom: 0; color: #616161; height: 32px; line-height: 32px; padding-top: 12px;}
.setimg{ height: 46px; line-height: 46px; background: #f3f3f3; float: left; padding-right: 12px;}
.setlist p{ float: left; margin: 0; padding-left: 4px;}
.popover-angle{ display: none;}
.popover{ width: 90%; border-radius: 0;}
.popover-collect .content-block{ padding: 0;}
.popover-collect{ background: #fff;}
.collecttitle{ padding: 0 15px;}
.AddList img{ float: left;}
.AddList p{ margin: 0 0 0 20px; float: left; line-height: 29px; color: #6d6d72;}
.Music_List{ padding: 10px 15px;}
.Music_List img{ float: left; width: 40px; height: 40px;}
.Music_List .groupname{ float: left; margin-left: 13px;}
.groupname span{ display: block;}
.groupname span:first-child{ color: #333; line-height: 20px;}
.AddList a{ padding: 5px 15px 5px 20px; display: block;}

/* modal */
.modal{ border-radius: 0; background: #fff; font-weight: normal; color: #333;}
.modal-inner{ border-radius: 0;}
.modal-title{ text-align: left; font-size: 14px;}
.modal-button:first-child{ border-radius: 0;}
.modal-button:last-child{ border-radius: 0;}
.modal-title+.modal-text{ margin-top: 20px; color: #6d6d72; font-weight: normal;}
html.ios-gt-8 .modal-title{ font-weight: normal;}
.modal-text .Text{ width: 70%; padding-left: 3px; font-size: 12px; float: left; border: 0; border-bottom: 1px solid #333; margin-right: 20px;}
.modal-text .Check{ margin: 15px 5px 0 0; vertical-align: sub; width: 15px; height: 15px; background: #fff;}
.modal-text>span{ display: block; text-align: left; line-height: 40px; height: 40px;}
.modal-text>span label{ font-size: 12px; height: 30px; line-height: 30px;}
.modal-inner:after{ height: 0;}
.modal-button:after{ width: 0;}
.modal-button{ font-size: 13px; color: #d33a31; width: 70px; float: right;}
.modal-buttons{ text-align: right; display: block;}
.Modal-Up{ width: 100%; height: 100%; background: rgba(0,0,0,.4); position: absolute; top: 0; left: 0; z-index: 13500;}
.ButtonGroup{ height: 26px;}
.Btn{ color: #d33a31; font-size: 13px; height: 26px; line-height: 26px; float: right; width: 50px; padding: 0 5px; text-align: center;}

/* 本地音乐 */
.pointw{ width: 3px; height: 3px; background: #fff; border-radius: 50%; display: block; margin-bottom: 5px;}
.popup-local{ overflow: hidden;}
.popup-local .navbar-inner{ padding: 0;}
.popup-local .grouppoint{ padding: 6px 15px 0 15px;}
.Listname{ font-size: 14px; float: left;}
.popup-local .close-popup img{ padding-right: 15px;}
.LocalSearch .search-box{ width: 84%; height: 28px; margin-top: 8px; float: left; position: relative;}
.LocalSearch .search-box a{ display: none; color: #fff; position: absolute; right: 2px; padding: 0; line-height: 28px; font-size: 22px;}
.navbar .LocalSearch input[type=search]{ width: 100%; background-color: #d33a31; color: #edb0ad; border-bottom: 1px solid #edb0ad; border-radius: 0; padding: 0 1px;}
.LocalSearch{ display: none; width: 100%; height: 100%;}
.LocalSearch span{ float: left; font-size: 0;}
.LocalSearch span img{ width: 20px; height: 18px; padding: 0 15px 0 13px; vertical-align: middle;}
.LocalSearch input{ float: left;}
.navbar .LocalSearch input[type=search]::-webkit-input-placeholder{ color: #e0756e;}
.search.left{ width: 100%; height: 100%;}
.LocalCenter{ width: 100%; height: 100%;}
.close-popup{ line-height: 0; display: block; float: left;}
.searchpage img{}
.subnavbar{ height: 38px;}
.buttons-row .button{ height: 38px; line-height: 38px;}
.navbar-fixed .page-content.with-subnavbar,
.navbar-fixed .subnavbar~.page-content,
.navbar-fixed .with-subnavbar .page-content,
.navbar-through .page-content.with-subnavbar,
.navbar-through .subnavbar~.page-content,
.navbar-through .with-subnavbar .page-content{ padding-top: 82px;}
.tabbar-fixed .page-content, .tabbar-through .page-content, .toolbar-fixed .page-content, .toolbar-through .page-content{ padding-bottom: 50px;}
.PlayList{ margin: 0; padding: 0;}
.PlayList li{ height: 54px; border-bottom: 1px solid #dadcdd; margin-left: 15px;}
.PlayList .Play{ height: 49px; padding: 0 15px; margin: 0;}
.Play>span{ color: #333; display: block; line-height: 49px;}
.PlayIcon{ padding-left: 35px; float: left; background: url("../images/playicon.png") 0 15px no-repeat;}
.PlayIcon span{ color: #7b7c7d}
.SelectIcon{ padding-left: 18px; float: right; background: url("../images/selecticon.png") 0 19px no-repeat;}
.PlayList .grouppoint{padding: 22px 15px 17px 15px;}
.PlayList .textspan{ margin-top: 2px;}
.popup-detail{ background: rgba(0,0,0,0.001);}
.Closedetail{ width: 100%; height: 100%; background: rgba(0,0,0,0.4); display: none; position: absolute; top: 0; left: 0; z-index: 11001;}
.detail{ width: 100%; overflow: hidden;}
/*.closedetail{ width: 100%; height: 40%;}*/
.detail .setlist{ width: 100%; height: 400px; overflow: auto;}
.detail .setlist ul{ margin: 0; padding-left: 15px;}
.navbar .LocalSearch input[type=search]::-webkit-search-cancel-button {
    display: none;
}
.popup-local .right{ display: block;}
.popup-local .right a{ margin-top: 3px;}
.goback{ font-size: 0;}
.goback img{ width: 20px; height: 18px; padding: 0 10px 0 13px; vertical-align: text-top;}
.marginLR{ padding: 0;}

/* friends */
.Fimg img{ width: 100%;}
.GoTop{ position: fixed; right: 10px; bottom: 0; width: 30px; height: 30px; text-align: center; line-height: 38px; background: #ffffff; border-radius: 50%; z-index: 1;}

/* radioStation */
.infinite-scroll-preloader {
    margin-top:-20px;
    margin-bottom: 10px;
    text-align: center;
}
.infinite-scroll-preloader .preloader {
    width:34px;
    height:34px;
}
.loader{ text-align: center;}
.loader-inner{ display: inline-block;}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1); }
    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6); }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1); } }
.ball-clip-rotate > div {
    background-color: transparent;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid #d33a31;
    border-bottom-color: transparent;
    display: inline-block;
    -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite; }
/* setting */
.popup-setting .navbar-inner{ padding: 0;}
.seeting{ font-size: 14px; color: #fff; line-height: 18px; height: 18px;}
.seeting img{ vertical-align: middle;}
.popup-setting .page-content{ padding-top: 44px;}
.list-block .item-title{ font-size: 14px;}
.list-block .item-after{ font-size: 14px;}

/* popup-play */
.popup-play .view{ background: #70695c;}
.popup-play .navbar-inner{ background: #70695c;}
.popup-play .toolbar-inner{ padding: 0 15px;}
.popup-play .page-content{ background: #70695c; padding-top: 53px;}
.popup-play .navbar{ height: 53px;}
.popup-play .toolbar{ height: 94px;}
.MusicName{ font-size: 14px;}
.MusicName p{ margin: 0;}
.MusicName span{ font-size: 12px; color: #a8a6a0;}
.navbar:after{ height: 0;}
.popup-play .close-popup img{ padding-left: 0; padding-right: 15px;}
.popup-play .toolbar-inner{ background: #48453d;}
.popup-play .toolbar:before{ height: 0;}
.toolcenter button{ border: none; font-size: 0; vertical-align: middle; padding: 30px; background-position: center;}
.previous{ width: 22px; height: 23px; background: url("../images/previous.png") no-repeat;}
.PlayMusic{ width: 26px; height: 26px; background: url("../images/play.png") no-repeat;}
.next{ width: 22px; height: 22px; background: url("../images/next.png") no-repeat;}
.toolleft{ font-size: 0;}
.toolright{ font-size: 0;}
.MusicScroll{ position: fixed; bottom: 94px; width: 100%; text-align: center; background: #635d51; height: 28px;}
.PlayTop{ margin-bottom: 26px; position: relative; border-top: 1px solid #96928a;}
.PlaySet{ margin: 0; padding: 0 35px;}
.PlaySet li{ text-align: center;}
.PlayImg{ height: 450px; line-height: 450px; text-align: center;}
.Playmusic{ display: inline-block; font-size: 0; width: 260px; height: 260px; line-height: 260px; text-align: center; background: #333; border: 5px solid #6a6a65; border-radius: 50%;}
.Playmusic img{ border-radius: 50%; vertical-align: middle;}
.playdirection{ position: absolute; top: 0; left: 48%;}
/*.playdirection img{ transform: rotate(35deg); transform-origin: 0 0;}*/
@keyframes Rotate {
    0%{ transform: rotate(0);}
    100%{ transform: rotate(360deg);}
}
.Playing{ float: left; width: 75%;}
.HistoryList{ width: 100%; height: 100%; overflow: auto;}
.HistoryContent{ width: 100%; height: 100%; position: relative; overflow: hidden;}
.range{ width: 70%; height: 2px; outline: none; background: linear-gradient(to right,#d33a31,#d33a31) no-repeat; background-size: 0 100%; background-color: #96928a; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type="range"]::-webkit-slider-thumb {
    /*::-webkit-slider-thumb是代表给滑块的样式进行变更*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /*//这三个是去掉滑块原有的默认样式，划重点！！*/
    -webkit-box-shadow:0 0 2px ; /*设置滑块的阴影*/
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    /*//这几个是设置滑块的样式*/
}
/* shopping */
.category{ height: 100%; overflow: hidden;}
.category .Left{ width: 25%; float: left; height: 100%; overflow: auto;}
.LeftList{ padding: 0;}
.LeftList li{ line-height: 30px;}
.LeftList li a{ display: block; padding-left: 15px;}
.LeftList li a.active{ background: #fff;}
.category .Right{ width: 75%; float: right; background: #fff; height: 100%; overflow: auto;}
.Right .tab{ padding-left: 15px; height: 650px;}
.shop{ height: 100%; /*overflow: hidden;*/}
.tabs{ height: 100%;}
.navbar-fixed .toolbar{ top: 82px; display: none;}
.navbar-fixed .toolbar .toolbar-inner{ overflow: auto;}
.shop{ padding-top: 50px;}
/*.toolbar-fixed .page-content{ padding-bottom: 0;}*/
/* comment */
.commentnav{ padding: 0 8px;}
.commentnav img{ width: 20px; height: 18px; padding: 0 10px;}
.commentnav span{ padding-left: 10px; font-size: 14px;}
.commenttitle{ margin-top: 12px; padding:0 15px; margin-right: 15px; background: url("../images/goto.png") no-repeat right;}
.commenttitle img{ float: left;}
.commenttitle .musicdetail{ float: left; padding-top: 3px;}
.musicdetail span{ display: block; padding: 10px 0 0 15px;}
.musicname{ font-size: 14px; color: #333;}
.musician{ font-size: 12px; color: #666666;}
.commentlist{ font-size: 12px; color: #666666; padding: 0 15px; line-height: 30px; background: #e7e9e9;}
.CommentTop>img{ float: left; width: 35px; height: 35px; border-radius: 50%;}
.CommentTop .observer{ float: left;}
.Good{ float: right;}
.observer span{ padding-left: 12px; display: block;}
.observer .ObserverName{ font-size: 14px; color: #666;}
.observer .ObserverTime{ font-size: 12px; color: #919293;}
.CommentContent{ padding: 15px 0 0 15px;}
.CommentTop{ padding-right: 15px;}
.Good span{ font-size: 12px; color: #939495; padding-right: 5px;}
.Good i{ font-size: 16px; color: #939495;}
.CommentCenter{ margin: 10px 0 0 45px; border-bottom: 1px solid #e6e8e9; font-size: 14px; line-height: 25px; padding-right: 15px; padding-bottom: 10px;}
.commentopen{ float: none; display: inline-block;}
.popup-play .commentopen img{ padding: 0; width: 35px; height: 23px;}
.review{ height: 30px; padding-left: 10px; border: none; border-bottom: 1px solid #ccc; width: 80%; color: #ccc;}
.send{ background: none; border: none; color: #ccc;}